# Puerto serial
SERIAL_PORT=COM3
BAUD_RATE=115200

# Excel local
EXCEL_PATH=Anexo_1_datos_iot.xlsx
SHEET_NAME=Datos extraidos

# PostgreSQL local
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=iot_lombrices
PG_USER=iot_user
PG_PASSWORD=cambiar_esta_clave
PG_TABLE=sensor_lecturas

# Datos experimentales configurables
LOMBRICES_AGREGADAS_G=50
PESO_CAMA_5CM_G=1222
PESO_CAMA_10CM_G=1610
PESO_LOMBRICES_INYECTADAS_G=50

# true: espera el bloque detallado hasta la línea Salud
# false: guarda inmediatamente al recibir TRAMA
ESPERAR_BLOQUE_DETALLADO=true
